<div class="container">
  <h1>Bienvenido {{user.username}}</h1>
  <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5">
    {{#each user.favorites}}
      <div class="col">
        <div class="card shadow-sm">
          <img src={{image}} alt="" />
          <p>{{name}}</p>
          <p>{{homeworld}}</p>
          <form action="/delete-favorite" method="POST">
            <input type="hidden" name="id" value={{_id}} />

            <button type="submit">borrar favorito</button>
          </form>
        </div>
      </div>
    {{/each}}
  </div>
</div>